@model IEnumerable<FlatRent.Entities.Flat>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Flat Rent</h1>
    <p class="lead">Flat Rent is a application that helps you rent a flat in your city in easiest way.</p>
</div>

<div class="row">
    @foreach (FlatRent.Entities.Flat i in Model)
    {
        <div class="col-md-4">
            <h4><strong>Address:</strong> @i.Address</h4>
            <h4><strong>Price for day:</strong> @i.PriceForDay</h4>
            <h5><strong>Price for month:</strong> @i.PriceForMonth</h5>
            <p>@i.Description</p>
            <p>
                @Html.ActionLink("Details", "Details", "Flats", new { ID = i.ID }, new { @class = "btn btn-default" })
            </p>
        </div>
    }
</div>